html {
  background-color: #333;
  color: #6feff9;
  font-family: "Ubuntu Mono", monospace;
}

.warning {
  animation: warning 1s ease-in-out infinite;
  transform-origin: 681px 1356px;
}

@keyframes warning {

  0% {
    transform: scale(.9, .9);
  }

  50% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(.9, .9);
  }

}

.action-tools-top,
.action-tools-bottom {
  display: flex;
  justify-content: center;
}

.action-tools-top {
  border-top: #6feff9 dashed 1px;
  border-bottom: #6feff9 dashed 1px;
  border-left: #6feff9 dashed 1px;
  padding: .5rem;
}

.action-btn svg {
  color: #6feff9;
}

li {
  list-style-type: none;
}

.dashboard-stats,
.dashboard-videos {
  border: #6feff9 dashed 1px;
}

#yellow {
  fill: #ffd31d;
}

#red {
  fill: #f62e52;
}

#yellow,
#red {
  animation: chart 1s linear forwards;
  transform-origin: 0 759px;
  transform: scaleY(0);
}

@keyframes chart {

  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }

}
