html {
  background-color: #333;
  color: #6feff9;
  font-family: "Ubuntu Mono", monospace;
}

.warning {
  animation: warning 1s ease-in-out infinite;
  transform-origin: 681px 1356px;
}

@keyframes warning {

  0% {
    transform: scale(.9, .9);
  }

  50% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(.9, .9);
  }

}

.action-tools-top,
.action-tools-bottom {
  display: flex;
  justify-content: center;
}

.action-tools-top {
  border-top: #6feff9 dashed 1px;
  border-bottom: #6feff9 dashed 1px;
  border-left: #6feff9 dashed 1px;
  padding: .5rem;
}

.action-btn svg {
  color: #6feff9;
}

li {
  list-style-type: none;
}
